body { 
    background:url("Street-png.png"); 
    background-size: 35%;
    background-repeat:repeat-x;
}
div.cars {
    position: absolute;
    background-image:url("car-png.png");
    background-repeat: no-repeat;
    background-size:60%;
    width: 275px;
    height: 120px;
    left: 0px;
    transition: left 0s linear 0s;
}
div.cars[data-speed="4.5"] {
    transform: rotate( 0deg );
    left:150px;
}